services:
   # Jaeger for distributed tracing
   jaeger:
      image: jaegertracing/all-in-one:latest
      container_name: jaeger
      ports:
         - "5775:5775/udp"
         - "6831:6831/udp"
         - "6832:6832/udp"
         - "5778:5778"
         - "16686:16686" # Jaeger UI
         - "14268:14268"
         - "14250:14250"
         - "9411:9411" # Zipkin compatible endpoint
         - "4317:4317" # OTLP gRPC
         - "4318:4318" # OTLP HTTP
      environment:
         - COLLECTOR_ZIPKIN_HOST_PORT=:9411
         - COLLECTOR_OTLP_ENABLED=true
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "1.0"
               memory: 512mb

   auth-service:
      build: ./auth-service
      environment:
         - JWT_SECRET=${JWT_SECRET}
         - USER_SERVICE_GRPC_URI=user-service-envoy:50050
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "1.0"
               memory: 500mb

   auth-service-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: auth-service-envoy
      ports:
         - "5006:8080"
         - "9907:9901"
      volumes:
         - ./envoy/auth-service-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - auth-service
         - jaeger
      command:
         ["-c", "/etc/envoy/envoy.yml", "--service-cluster", "auth-service"]

   user-service:
      build: ./user-service
      environment:
         - MONGO_URI=mongodb://mongo-users:27017/ecommerce-users
         - JWT_SECRET=${JWT_SECRET}
         - RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672
      networks:
         - ecommerce-network
      depends_on:
         rabbitmq:
            condition: service_healthy
         mongo-users:
            condition: service_started
      deploy:
         resources:
            limits:
               cpus: "1.0"
               memory: 500mb

   user-service-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: user-service-envoy
      ports:
         - "5000:8080"
         - "9901:9901"
      volumes:
         - ./envoy/user-service-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - user-service
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "user-service-proxy",
            "--log-level",
            "info",
         ]

   product-inventory:
      build: ./product-inventory
      environment:
         - POSTGRES_URI=postgres://postgres:postgres@products-inventory-pg:5432/postgres
         - RABBITMQ_URI=amqp://admin:admin123@rabbitmq:5672
      networks:
         - ecommerce-network
      depends_on:
         - products-inventory-pg
         - rabbitmq
      deploy:
         replicas: 4
         resources:
            limits:
               cpus: "1.0"
               memory: 500mb

   product-catalog:
      build: ./product-catalog
      environment:
         - MONGO_URI=mongodb://mongo-products:27017/ecommerce-products
         - REDIS_DATABASE_URI=redis://redis-product:6379
      networks:
         - ecommerce-network
      depends_on:
         mongo-products:
            condition: service_started
         redis-product:
            condition: service_started
         rabbitmq:
            condition: service_healthy
      deploy:
         replicas: 4
         resources:
            limits:
               cpus: "1.0"
               memory: 500mb

   product-catalog-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: product-catalog-envoy
      # ports:
      # - "5001:8080"
      # - "9902:9901"
      volumes:
         - ./envoy/product-catalog-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - product-catalog
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "product-catalog-proxy",
            "--log-level",
            "info",
         ]
   product-inventory-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: product-inventory-envoy
      # ports:
      # - "5001:8080"
      # - "9902:9901"
      volumes:
         - ./envoy/product-inventory-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - product-inventory
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "product-inventory-proxy",
            "--log-level",
            "info",
         ]

   redis-product:
      image: redis:8.2.2
      container_name: redis-product
      restart: always
      ports:
         - "6379:6379"
      volumes:
         - redis_data:/data
      command:
         [
            "redis-server",
            "--appendonly",
            "yes",
            "--maxmemory",
            "256mb",
            "--maxmemory-policy",
            "allkeys-lru",
            "--tcp-keepalive",
            "60",
            "--timeout",
            "300",
         ]
      networks:
         - ecommerce-network
      healthcheck:
         test: ["CMD", "redis-cli", "ping"]
         interval: 5s
         timeout: 3s
         retries: 5
   shopping-cart-service:
      build: ./shopping-cart-service
      environment:
         - MONGO_URI=mongodb://mongo-cart:27017/ecommerce-cart
         - PRODUCT_SERVICE_URI=http://product-catalog-envoy:8080
         - RABBITMQ_URI=amqp://admin:admin123@rabbitmq:5672
         - PORT=5002
      networks:
         - ecommerce-network
      depends_on:
         rabbitmq:
            condition: service_healthy
         mongo-cart:
            condition: service_started
      deploy:
         resources:
            limits:
               cpus: "2.0"
               memory: 1G

   cart-service-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: cart-service-envoy
      ports:
         - "5002:8080"
         - "9903:9901"
      volumes:
         - ./envoy/cart-service-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - shopping-cart-service
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "cart-service-proxy",
            "--log-level",
            "info",
         ]

   order-service:
      build: ./order-service
      # ports:
      # - 5003:5003
      environment:
         - MONGO_URI=mongodb://mongo-orders:27017/ecommerce-orders
         - PRODUCT_INVENTORY_SERVICE_URI=http://product-inventory-envoy:8080
         - SHOPPING_CART_SERVICE_URI=http://cart-service-envoy:8080
         - RABBITMQ_URI=amqp://admin:admin123@rabbitmq:5672
         - PORT=5003
      networks:
         - ecommerce-network
      depends_on:
         mongo-orders:
            condition: service_started
         rabbitmq:
            condition: service_healthy
      deploy:
         replicas: 4
         resources:
            limits:
               cpus: "1.0"
               memory: 500mb

   order-service-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: order-service-envoy
      ports:
         - "5003:8080"
         - "9904:9901"
      volumes:
         - ./envoy/order-service-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - order-service
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "order-service-proxy",
            "--log-level",
            "info",
         ]

   payment-service:
      build: ./payment-service
      environment:
         - MONGO_URI=mongodb://mongo-payments:27017/ecommerce-payments
         - RABBITMQ_URI=amqp://admin:admin123@rabbitmq:5672

         - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      networks:
         - ecommerce-network
      depends_on:
         rabbitmq:
            condition: service_healthy
         mongo-payments:
            condition: service_started

   payment-service-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: payment-service-envoy
      ports:
         - "5004:8080"
         - "9905:9901"
      volumes:
         - ./envoy/payment-service-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - payment-service
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "payment-service-proxy",
            "--log-level",
            "info",
         ]

   notification-service:
      build: ./notification-service
      environment:
         - NODEMAILER_EMAIL=${NODEMAILER_EMAIL}
         - NODEMAILER_PASSWORD=${NODEMAILER_PASSWORD}
         - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
         - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
         - TWILIO_PHONE_NUMBER=${TWILIO_PHONE_NUMBER}
         - RABBITMQ_URI=amqp://admin:admin123@rabbitmq:5672
      networks:
         - ecommerce-network
      depends_on:
         rabbitmq:
            condition: service_healthy

   # RabbitMQ Message Broker
   rabbitmq:
      image: rabbitmq:3-management-alpine
      # ports:
      #    - "5672:5672" # AMQP port
      #    - "15672:15672" # Management UI
      environment:
         - RABBITMQ_DEFAULT_USER=admin
         - RABBITMQ_DEFAULT_PASS=admin123
      volumes:
         - rabbitmq-data:/var/lib/rabbitmq
      networks:
         - ecommerce-network
      healthcheck:
         test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
         interval: 10s
         timeout: 5s
         retries: 10
         start_period: 40s
      deploy:
         replicas: 3
         resources:
            limits:
               cpus: "1.0"
               memory: 512mb

   notification-service-envoy:
      image: envoyproxy/envoy:v1.31-latest
      container_name: notification-service-envoy
      ports:
         - "5005:8080"
         - "9906:9901"
      volumes:
         - ./envoy/notification-service-envoy.yml:/etc/envoy/envoy.yml
      networks:
         - ecommerce-network
      depends_on:
         - notification-service
         - jaeger
      command:
         [
            "envoy",
            "-c",
            "/etc/envoy/envoy.yml",
            "--service-cluster",
            "notification-service-proxy",
            "--log-level",
            "info",
         ]
   # Separate MongoDB instances for each service
   mongo-users:
      image: mongo:latest
      ports:
         - "27017:27017"
      volumes:
         - mongo-users-data:/data/db
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "0.5"
               memory: 512M

   mongo-products:
      image: mongo:latest
      ports:
         - "27018:27017"
      volumes:
         - mongo-products-data:/data/db
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "1.0"
               memory: 1G

   mongo-cart:
      image: mongo:latest
      ports:
         - "27019:27017"
      volumes:
         - mongo-cart-data:/data/db
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "0.5"
               memory: 512M

   mongo-orders:
      image: mongo:latest
      ports:
         - "27020:27017"
      volumes:
         - mongo-orders-data:/data/db
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "0.5"
               memory: 512M

   mongo-payments:
      image: mongo:latest
      ports:
         - "27021:27017"
      volumes:
         - mongo-payments-data:/data/db
      networks:
         - ecommerce-network
      deploy:
         resources:
            limits:
               cpus: "0.5"
               memory: 512M
   products-inventory-pg:
      image: postgres:15-alpine
      environment:
         - POSTGRES_USER=postgres
         - POSTGRES_PASSWORD=postgres
         - POSTGRES_DB=postgres
      networks:
         - ecommerce-network
      volumes:
         - product_inventory_pg:/var/lib/postgresql/data

   client:
      build: ./client
      ports:
         - "3000:3000"

      networks:
         - ecommerce-network
      depends_on:
         - nginx

   nginx:
      image: nginx:latest
      ports:
         - "80:80"
      volumes:
         - ./nginx.conf:/etc/nginx/nginx.conf
      networks:
         - ecommerce-network
      depends_on:
         - user-service
         - product-catalog
         - shopping-cart-service
         - order-service
         - payment-service
      deploy:
         resources:
            limits:
               cpus: "1.0"
               memory: 500mb
   cadvisor:
      image: gcr.io/cadvisor/cadvisor:latest
      container_name: cadvisor
      ports:
         - "8080:8080"
      volumes:
         - /:/rootfs:ro
         - /var/run:/var/run:ro
         - /sys:/sys:ro
         - /var/lib/docker/:/var/lib/docker:ro
      networks:
         - ecommerce-network
   prometheus:
      image: prom/prometheus:latest
      container_name: prometheus
      ports:
         - "9090:9090"
      volumes:
         - ./prometheus.yml:/etc/prometheus/prometheus.yml
      depends_on:
         - cadvisor
      networks:
         - ecommerce-network
   # influxdb:
   #   image: influxdb:1.8
   #   container_name: influxdb
   #   ports:
   #     - "8086:8086"
   #   environment:
   #     - INFLUXDB_DATA_MAX_SERIES_PER_DATABASE=0
   #     - INFLUXDB_DATA_MAX_VALUES_PER_TAG=0
   #   volumes:
   #     - influxdb-data:/var/lib/influxdb
   #   networks:
   #     - ecommerce-network
   grafana:
      image: grafana/grafana:latest
      container_name: grafana-ktpm-ecom
      ports:
         - "1000:3000"
      depends_on:
         - prometheus
      networks:
         - ecommerce-network
      volumes:
         - grafana-data:/var/lib/grafana

volumes:
   mongo-users-data: {}
   mongo-products-data: {}
   mongo-cart-data: {}
   mongo-orders-data: {}
   mongo-payments-data: {}
   influxdb-data: {}
   grafana-data: {}
   rabbitmq-data: {}
   redis_data: {}
   product_inventory_pg: {}
networks:
   ecommerce-network:
      driver: bridge
