apiVersion: v1
kind: Service
metadata:
  name: product-catalog
  labels:
    app: product-catalog
spec:
  ports:
    - port: 5001
      targetPort: 5001
  selector:
    app: product-catalog
  type: ClusterIP
